{% if site.google_scholar_stats_use_cdn %}
  {% assign scholar_stats_url = 'https://cdn.jsdelivr.net/gh/' | append: site.repository | append: '@google-scholar-stats/gs_data.json' %}
{% else %}
  {% assign scholar_stats_url = 'https://raw.githubusercontent.com/' | append: site.repository | append: '/google-scholar-stats/gs_data.json' %}
{% endif %}
<script defer src="{{ '/assets/js/scholar-citations.js' | relative_url }}" data-scholar-source="{{ scholar_stats_url }}" data-scholar-profile="{{ site.data.scholar_stats.profile_id }}"></script>
